* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Roboto"  sans-serif;
    color: #1f2937;

    line-height: 1.6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: rgb(14, 17, 19);
    color:white;
}
.navbar{
    margin-left: auto;
}
.navbar a{
    text-decoration: none;
    margin-left: 20px;
    color: #ffffff;
}
.navbar a:hover{
    background-color: #2467f7;
    border-radius: 6px ;
    padding: 7px;
    transition: 0.3s;
}
/* hero*/

.hero {
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #2563eb;*/
    
    background-image: url("https://images.unsplash.com/photo-1679312995134-bb397e265e4d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    padding: 60px 20px;

    
}


.hero-content {
    max-width: 750px;
    color: #ffffff;
    background-image: url();
    
}

.hero h1 {
    font-size: 7vmin;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 18px;
    margin: auto;
    max-width: 650px;
}

/* button*/

.btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;

    padding: 13px 30px;

    background-color: #ffffff;
    color: #2563eb;

    border-radius: 6px;

    font-weight: bold;

    transition: 0.3s;
}

.btn:hover {
    background-color: #dbeafe;
    transform: translateY(-2px);
}


/*services*/

.services {
    padding: 80px 8%;
}

.text{
    text-align: center;
    max-width: 650px;
    margin: 0 auto 45px;
}

.card h3 {
    font-size: 5vmin;
    margin-bottom: 10px;
}
.card p {
    font-size: 3vmin;
    
}



.services-cards {
    padding: 35px 25px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
    
}
.card{
    text-align: center;
    height: 210px;
    background-color: #6c96d4;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 9px gray;
    
}
.card:hover{
    transition: 0.3s;
    transform: translateY(-9px);
    background: #f18d7f;
    color: #ffffff;
}
.services-card p{
    font-size: 16px;
    margin-top: 10px;
}


/* About Content */
.about {
    min-height: 200px;
    background-color: #2076e6;
    
    
    
    
}
.about h1 {
    text-align: center; 
    
}
.about p {
    text-align: center;
    margin-top: 30px;
    
}
.about-section {
    padding: 80px 8%;
    background: #ffffff;
    
}

.about-content {
    max-width: 1100px;
    margin: auto;
    height: 50vh;
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 60px;

    align-items: center;
}



.about-text h2 {
    font-size: 38px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 17px;
}

.about-text p {
    color: #6b7280;
    margin-bottom: 15px;
}
.about-box {
    display: grid;
    
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}
.text{
    width: 100%;
    background: #6b7280;
    box-shadow: 0 4px 7px gray;
    text-align: center;
    padding: 18px;
    border-radius: 7px;
    
}
.text:hover{
    background-color: #8bb5ec;
    transition: 0.3s;
    transform: translateY(-8px);
    color: #ffffff;
    
}
/*_________________Contact Form__________________*/

.contact{
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    gap: 30px;
    
}
.contact-form, .submission{
    background: white;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
.contact-form h2{
    text-align: center;
    margin-bottom: 30px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

textarea{
    height: 120px;
    resize: none;
}
button{
    width: 100%;
    padding: 12px;
    background: rgb(39, 39, 53);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;

}
.submission h2 a{
    text-decoration: none;
    color: #ffffff;
    
    
    
}
 .submission h2{
        
            text-align: center;
            margin-top: 70px ;
            border-radius: 15px;
            background: rgb(152, 141, 245);
            
}
/*___________submission page__________*/
 .sub h2{
    
    text-align: center;
    margin-top: 70px ;
    border-radius: 15px;
    font-size: 10vmin;
    
 }
 .content{
    background: #cccc;
    height: 630px;
 }

@media(max-width: 768px) {
    .services-cards {
        grid-template-columns: 1fr;
    }
    .about-box{
        grid-template-columns: 1fr;
    }
    
    .about-section{
        width: 90%;
    }
    /*____________ contact page________________*/
    .contact{
        flex-direction: column;
        .contact-form, .submissions{
            width: 100%;
        }
    }

    
    
}